.header{
    grid-area: h;
}
.header img{
    width: 199px;
}
.header {
    display: grid;
    grid-template-columns: 1fr 5fr;
    /*background-color: blue;*/
}
/*.headerHead {
    color: #b31159;
}*/
.headerName {
    text-decoration: none;
    color: #b31159;
}

.loginBlock {
    float: right;
}

.loginBlock a {
    color: #b31159;
}
