
.users {
    display: grid;
    grid-template-columns: 70px 300px 50px;
    border: solid black 1px;
    border-radius: 3px;
    padding: 3px;
}
.usersPage {
    padding: 20px;
}
.usersAvatar img {
    width: 70px;
    height: 70px;
}
.padding {
    padding-bottom: 2px;
}