.dialogs {
    display: grid;
    grid-template-columns: 1fr 6fr;
}
.dialogsItems {
    padding: 2px;
}
.messages {
    padding: 2px;
    color: black;
}

.dialogsItem {
    text-decoration: none;
    color: darkblue;
}
.dialog img {
    width: 30px;
}
.dialogs {
    padding: 20px;
}

