.nav {
    grid-area: n;
    padding: 1px;

}

.item a {
    color: #b31159;
    text-decoration: none;
}

.item a.active {
    color: gold;
}

.friends {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.friends {
    padding-left: 20px ;
}
.friends img {
    width: 30px;
}


